// Universal
:root {
    //Fonts
    --ff-title: "Gentium Basic", serif;
    --ff-body: "Raleway", sans-serif;
    --ff-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --c-hue: 198;
    --c-high: 90%;
    --c-low: 10%;

    //Colors
    &[c-mode="light"] {
        /* Light color palette */
        --c-1: hsl(var(--c-hue), var(--c-low), var(--c-high)); /* #e3e7e8 */
        --c-2: hsl(var(--c-hue), var(--c-low), var(--c-low)); /* #171b1c */
        --primary: hsl(198, 24%, 39%); /* #4c6d7b */
        --secondary: hsl(139, 24%, 39%); /* #4c7b5b */
        --tertiary: hsl(353, 24%, 39%); /* #7b4c51 */

        /* Dark color palette */
        --c-1-alt: var(--c-2);
        --c-2-alt: var(--c-1);
        --primary-alt: hsl(198, 62%, 72%); /* #8bc9e4; */
        --secondary-alt: hsl(139, 62%, 72%); /* #8be4a7 */
        --tertiary-alt: hsl(353, 62%, 72%); /* #e48b96 */

        /* Any element with the class "light--hidden" will be hidden when the site is set to Light Mode */
        .light--hidden {
            display: none;
        }
    }

    &[c-mode="dark"] {
        /* Dark color palette */
        --c-1: hsl(var(--c-hue), var(--c-low), var(--c-low)); /* #171b1c */
        --c-2: hsl(var(--c-hue), var(--c-low), var(--c-high)); /* #e3e7e8 */
        --primary: hsl(198, 62%, 72%); /* #8bc9e4; */
        --secondary: hsl(139, 62%, 72%); /* #8be4a7 */
        --tertiary: hsl(353, 62%, 72%); /* #e48b96 */

        /* Light color palette */
        --c-1-alt: var(--c-2);
        --c-2-alt: var(--c-1);
        --primary-alt: hsl(198, 24%, 39%); /* #4c6d7b */
        --secondary-alt: hsl(139, 24%, 39%); /* #4c7b5b */
        --tertiary-alt: hsl(353, 24%, 39%); /* #7b4c51 */

        /* Any element with the class "dark--hidden" will be hidden when the site is set to Dark Mode */
        .dark--hidden {
            display: none;
        }
    }
}
