/* Should find a way to incorporate background svg pattern without making it look overwhelming and unreadable: https://www.svgbackgrounds.com/#abstract-timekeeper */

html {
  scroll-behavior: smooth;
}

hr.top-hr {
    height: 8px;
    background-image: -webkit-linear-gradient(to right, #0b0449, #c1e2ff, #0b0449); /* Chrome 10-25, Safari 5.1-6 */
    background-image: linear-gradient(to right, #0b0449, #c1e2ff, #0b0449); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    margin-top: 3rem;
    margin-bottom: 0;
    width: 80%;
    border: 0;
}

hr.bottom-hr {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 20px solid #c1e2ff;
    margin-top: 0;

}

#intro .cursive {
    font-family: 'Special Elite', cursive;
}



.navbar.scrolled {
    background: #c1e2ff;
    transition: background 900ms;
}

.zoom {
    transition: transform .2s;
}
.zoom:hover {
    transform: scale(1.1); 
  }
  

.card {
    transform:
        perspective(750px)
        translate3d(0px, 0px, -250px)
        rotateX(27deg)
        scale(0.9, 0.9);
    border-radius: 20px;
    border: 5px solid #e6e6e6;
    box-shadow: 0 70px 40px -20px rgba(0, 0, 0, 0.2);
    transition: 0.4s ease-in-out transform;
}
.card:hover {
    transform: translate3d(0px, 0px, -250px);
}
