/* Should find a way to incorporate background svg pattern without making it look overwhelming and unreadable: https://www.svgbackgrounds.com/#abstract-timekeeper */

html {
  scroll-behavior: smooth;
}

#intro .cursive {
    font-family: 'Special Elite', cursive;
}

hr.break {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 3rem;
    margin-bottom: 3rem;
}


.navbar.scrolled {
    background: #c1e2ff;
    transition: background 900ms;
}